.start-game-form input, .start-game-form select, .start-game-form option {
    display: block;
    margin: 10px auto;
    padding-left: 5px;
    font-family: var(--font-family);
    font-weight: var(--thin);
}

.start-game-form input {
    width: 300px;
    height: 30px;
}

.start-game-form select {
    width: 312px;
    height: 35px;
}

.start-game-form button {
    width: 200px;
    font-size: 22px;
    font-family: var(--font-family);
    font-weight: var(--bold);
    height: 40px;
    background-color: var(--primary);
    border: none;
    color: white;
    margin-top: 10px;
}

.select-error {
    border-color: #b61515;
    color: #b61515;
    background-color: white;
}